@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap')
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap")

$fm-icon-height: 8rem

body
    font-size: 85% !important

h1, h2, h3, h4, h5, h6
    font-family: Montserrat
h1
    font-weight: 700
    letter-spacing: -.05rem
h2, h3, h4, h5, h6
    font-weight: 600
b
    font-weight: 600
label
    font-weight: 600
.form-control, .form-select
    font-size: .85rem
    padding: .375rem
    &.form-control-xsm
        font-size: 90%
        padding: .25rem
.modal
    .card
        padding: .375rem
.table
    th
        font-weight: 600
    &.table-hover
        tbody
            cursor: pointer
.price-box
    .price
        font-family: dosis
        font-weight: 700
        font-size: 3rem
        text-align: right
        .decimal
            font-size: 50%
        .previous-price
            font-size: 1.25rem
            text-decoration: none
            background: linear-gradient(to top right, rgba(255, 255, 255, 0) calc(50% - 4px), rgb(220, 53, 69), rgba(255, 255, 255, 0) calc(50% + 4px))
            vertical-align: text-top
            font-weight: 400
        .price-description
            font-size: 1.5rem
            line-height: 1.75rem
        .countdown
            list-style-type: none
            padding: 0
            margin: 0
            font-size: .85rem
            li
                display: inline-block
                .days, .hours, .minutes, .seconds
                    display: inline-block
                    width: 1.25em
                    text-align: right
                .label
                    font-size: .7rem
.upload-area
    border-width: 4px
    border-style: dashed
    border-color: rgba(108, 117, 125, .25)
    background-color: rgba(230, 230, 230, 1)
    &.active
        background-color: rgba(245, 245, 245, 1)

.file-item
    .file-view
        height: $fm-icon-height
    .cdn-provider
        height: 2.5rem
        top: 0
        right: calc(var(--bs-gutter-x) * .5)
    .file-menu
        top: calc($fm-icon-height - 31px)
        left: calc(var(--bs-gutter-x) * .5)

.media-gallery
    .media-files
        overflow: hidden
        list-style-type: none
        padding: 0
        margin: 0
        display: flex
        flex-direction: row
        flex-wrap: nowrap
        .media-item
            flex: 1 0 0%
            height: 7em
            img
                height: 100%
    .media-preview
        margin-bottom: .5rem
        .media-navigator
            z-index: 998
            border: 1px solid rgba(0, 0, 0, .5)
            //background: rgba(255, 255, 255, .25)
            background: linear-gradient(-45deg, rgba(255, 255, 255, .5), rgba(255, 255, 255, 0) 100%)
        .media-preview-container
            top: 0
            z-index: 999
            background-repeat: no-repeat
            border: 1px solid #888
        img
            max-width: 100%
            max-height: 100%
            margin: auto
            display: block
.media-modal
    width: 100%
    height: 100%
    z-index: 1000
    background-color: rgba(255, 255, 255, .25)
    position: fixed
    left: 0
    top: 0
    backdrop-filter: blur(5px) grayscale(100%)
    padding: 4rem
    .modal-grid
        width: 100%
        height: 100%
        display: flex
        flex-direction: row
        flex-wrap: nowrap
        border: 1px solid rgba(200, 200, 200, 1)
        border-radius: .5rem
        overflow: hidden
        .modal-content
            flex: 1 0 0%
            width: 75%
            height: 100%
            background-color: rgba(255, 255, 255, 1)
            .modal-content-view
                width: 100%
                height: 100%
                background-repeat: no-repeat
                background-position: center center
                background-size: contain
            .modal-content-description
                h3
                    font-size: 1rem
        .modal-menu
            flex: .25 0 0%
            width: 25%
            height: 100%
            background-color: rgba(255, 255, 255, .9)
            .media-thumbnails-images
                display: flex
                flex-direction: row
                flex-wrap: wrap
                .media-item
                    flex: 1 0 0%
                    border: 1px solid rgba(230, 230, 230, 1)
                    padding: .5rem
                    border-radius: .25rem
                    margin: .1rem
                    img
                        height: 7em
                        display: block
                        margin: auto