<div class="shopping-cart-top bg-dark text-light">
    <div class="container py-2 px-5">
        <div class="row">
            <div class="col-9 shopping-cart"></div>
            <div class="col-3 shopping-cart-checkout"></div>
        </div>
    </div>
</div>

<script>

function updateCart() {

    let cartContainer = $(".shopping-cart")
    let cartCheckout = $(".shopping-cart-checkout")

    $.ajax({
        method: "GET",
        url: "/api/cart/get",
        success: function(response) {

            let json = JSON.parse(JSON.stringify(response))

            cartContainer.empty()

            if(typeof json.items !== "undefined" && Object.keys(json.items).length > 0) {

                for(let itemId in json.items) {

                    let item = json.items[itemId]

                    let newItem = `
                    <div class="row align-items-center mb-2">
                        <div class="d-none d-lg-flex col-lg-1">
                            `
                    
                    if(item['fixed_height_thumbnail'] != null) {

                        newItem += `
                            <div class="bg-light rounded item-image ratio ratio-1x1" style="background-image:url('${item['fixed_height_thumbnail']}')"></div>
                        `

                    }

                    newItem += `
                        </div>

                        <div class="col-12 col-lg-4">
                            <a href="product?id=${itemId}" class="text-light">${item['name']}</a>
                        </div>

                        <div class="col-12 d-lg-none">
                            <hr>
                        </div>

                        <div class="col-2 col-lg-2">
                            ${item['price']}
                        </div>

                        <div class="col-6 col-lg-2">
                            <div class="input-group">
                                <button type="button" class="btn btn-sm cart-item-substract btn-dark ratio-1x1 input-group-text" data-id="${itemId}"><i class="fa-solid fa-minus"></i></button>
                                <input type="text" class="input-quantity form-control form-control-sm text-center bg-dark text-light" value="${item['quantity']}">
                                <button type="button" class="btn btn-sm cart-item-add btn-dark ratio-1x1 input-group-text" data-id="${itemId}"><i class="fa-solid fa-plus"></i></button>
                            </div>
                        </div>

                        <div class="col-2 col-lg-2">
                            ${item['total']}
                        </div>

                        <div class="col-2 col-lg-1">
                            <button class="btn btn-sm cart-item-delete btn-secondary float-end" data-id="${itemId}"><i class="fa-solid fa-trash-can"></i></button>
                        </div>

                    </div>
                    `

                    cartContainer.append(newItem)

                }

                let checkout = `
                    <table class="table table-borderless table-sm mb-3 text-light small">
                    <tr>
                        <th colspan="2">{% trans %}Your order summary{% endtrans %}</th>
                    </tr>
                    <tr>
                        <th class="text-muted">{% trans %}Total{% endtrans %}</th>
                        <td>${json.totals['value']}</td>
                    </tr>
                    <tr>
                        <th class="text-muted">{% trans %}Items in cart{% endtrans %}</th>
                        <td>${json.totals['quantity']}</td>
                    </tr>
                    </table>
                    <div>
                        <a class="btn btn-success" style="letter-spacing:.075rem" href="/checkout"><b class="text-uppercase small">{% trans %}Checkout{% endtrans %}</b><i class="fa-solid fa-caret-right fa-fw"></i></a>
                    </div>
                `

                cartCheckout.empty()
                cartCheckout.append(checkout)

            }
        }
    })

}

$(document).ready(function() {

    updateCart()

    $(window).on("focus", function() {
        
        updateCart()

    })

    $(document).on("click", ".cart-item-delete", function() {

        var itemId = $(this).data("id")

        $.ajax({
            method: "DELETE",
            url: "/api/cart/delete",
            data: {id: itemId},
            success: function(response) {

                var json = JSON.parse(JSON.stringify(response))
                updateCart()

            }
        })
    })

    $(document).on("click", ".cart-item-substract", function() {
        
        var itemId = $(this).data("id")

        $.ajax({
            method: "PATCH",
            url: "/api/cart/patch",
            data: {id: itemId, quantity: -1},
            success: function(response) {

                var json = JSON.parse(JSON.stringify(response))
                updateCart()

            }
        })

    })

    $(document).on("click", ".cart-item-add", function() {
        
        var itemId = $(this).data("id")

        $.ajax({
            method: "PATCH",
            url: "/api/cart/patch",
            data: {id: itemId, quantity: 1},
            success: function(response) {

                var json = JSON.parse(JSON.stringify(response))
                updateCart()
                
            }
        })

    })

})

</script>